@charset "utf-8";

/* wp */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* wp ed */

/* common */

html {
	font-size: 62.5%; 
}

body {
	font-size: 1.4rem;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-weight: 500;
}

.wm {
	position: relative;
	width: 1206px;
	margin: 0 auto;
}

.wn {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.clear:after {
	display: block;
	content: "clear";
	width: 0;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

/* common ed */

/* head */

#head {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 97px;
	background: #9AD48B;
	border-bottom: 2px solid #FFF;
}

.header {
	height: 97px;
}

.logo {
	float: left;
	display: inline-block;
	width: 210px;
	height: calc(100% - 1px);
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid transparent;
}

.logo a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.logo a:hover {
	background: rgba(255, 255, 255, 0.1);
}

.logo a img {
	display: block;
	width: 100%;
	height: 100%;
}

.logo a img:first-child {
	display: none;
}

.logo a img:last-child {
	display: block;
}

.logo .on img:first-child {
	display: block;
}

.logo .on img:last-child {
	display: none;
}

#nav {
	float: left;
	display: inline-block;
	width: calc(100% - 210px - 156px - 4px);
	width: calc(100% - 210px - 3px);
	border-right: 1px solid #FFF;
}

.nav {
	width: 100%;
	height: 100%;
}

.nav li {
	float: left;
	display: inline-block;
	width: calc((100% - 3px) / 4);
	height: 96px;
	border-left: 1px solid #FFF;
	border-bottom: 1px solid transparent;
	overflow: hidden;
}

.nav li:first-child {
	border: 0 none;
}

.nav li a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 1.6rem;
	line-height: 97px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	overflow: hidden;
}

.nav li a:hover {
	background: rgba(255, 255, 255, 0.1);
}

.nav .on {
	border-bottom: 1px solid #9AD48B;
}

.nav .on a, .nav .on a:hover {
	color: #9AD48B;
	background: #FFF;
}

.nbtn {
	display: none;
}

.ncart {
	display: none;
}

.head_icon {
	float: left;
	display: inline-block;
	width: 156px;
	height: 32px;
	padding: 32px 0 33px;
	font-size: 0;
	text-align: center;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}

.head_icon a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 5px;
	background: rgba(255, 255, 255, 1);
	border-radius: 50%;
}

.head_icon a:hover {
	background: rgba(255, 255, 255, 0.9);
}

.head_icon a img {
	display: block;
	width: 100%;
	height: 100%;
}

/* head ed */

/* main */

#main {
	min-height: 200px;
	padding: 99px 0 0;
}

/* main ed */

/* foot */

#foot {
	position: relative;
	font-family: "Meiryo", "Meiryo-a", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
	border-top: 15px solid #9AD48B;
}

.foot_btn {
	position: fixed;
	z-index: 998;
	right: 186px;
	width: 142px;
}

.foot_btn a {
	display: block;
	margin: 50px 0 0;
}

.foot_btn a img {
	display: block;
	width: 100%;
}

.foot_btn a:hover {
	opacity: 0.9;
}

#top {
	visibility: hidden;
}

.foot {
	height: 100px;
	padding: 50px 0;
}

.foot_logo {
	float: left;
	display: inline-block;
	width: 240px;
	height: 100%;
	margin: 0 10px;
}

.foot_logo a, .foot_logo a img {
	display: block;
	width: 100%;
	height: 100%;
}

.foot_nav {
	float: left;
	display: inline-block;
	width: calc(50% - 130px);
	height: 100%;
}

.foot .foot_nav:last-child {
	text-align: right;
}

.foot_nav ul {
	display: table;
	width: 100%;
	height: 100%;
}

.foot_nav ul li {
	display: table-cell;
	height: 100%;
	line-height: 100px;
}

.foot_nav ul li i {
	display: inline-block;
	width: 7px;
	height: 7px;
	border: 1px solid #9AD48B;
}

.foot_nav ul li a {
	font-size: 1.4rem;
	color: #505050;
	text-decoration: none;
}

.foot_nav ul li a:hover {
	color: #9AD48B;
}

.foot_info {
	height: 80px;
	padding: 76px 0 66px;
	background: #9AD48B;
}

.foot_contact {
	float: left;
	display: table;
	width: calc(100% - 420px);
	height: 80px;
	flex: 1 0 0;
	color: #FFF;
}

.foot_contact h2 {
	display: table-cell;
	width: 100px;
	padding: 0 30px 0 0;
	font-size: 2.8rem;
	vertical-align: middle;
	word-break: keep-all;
}

.foot_contact p {
	display: table-cell;
	font-size: 1.8rem;
	line-height: 1.5;
	vertical-align: middle;
}

.foot_email {
	float: left;
	display: inline-block;
	width: 420px;
}

.foot_email a {
	display: block;
	height: 80px;
	font-size: 0;
	text-decoration: none;
	text-align: center;
	color: #9BD48B;
	background: rgba(255, 255, 255, 1);
	border-radius: 12px;
}

.foot_email a:hover {
	background: rgba(255, 255, 255, 0.9);
}

.foot_email a img {
	display: inline-block;
	height: 100%;
	margin: 0 30px 0 0;
}

.foot_email a b {
	display: inline-block;
	font-size: 2rem;
	line-height: 82px;
	line-height: 84px\0;
	vertical-align: top;
}

.copyright {
}

.copyright p {
	padding: 12px;
	font-size: 1.2rem;
	line-height: 2;
	text-align: center;
	color: #1E1E1E;
}

.img_replace {
	position: relative;
}

.img_replace img:first-child {
	display: block;
}

.img_replace img:last-child {
	display: none;
}

.br span {
	display: block;
}

.br br {
	display: none;
}

.content {
	padding: 100px 0 120px;
}

.sub_tit {
	font-family: "Jun 501", "メイリオ";
	font-size: 6rem;
	line-height: 2;
	text-align: center;
	color: #1E1E1E;
}

.sub_tit small {
	font-size: 4rem;
}

#cart {
	position: fixed;
	z-index: 999;
	display: none;
	left: 50%;
	top: 50%;
	width: 924px;
	padding: 84px 141px 136px;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#cart .cart_close {
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 60px;
}

#cart .cart_close a {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0 20px 0 0;
}

#cart .cart_close a:before, #cart .cart_close a:after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 4px;
	margin: 0 0 0 -20px;
	background: #CCC;
	cursor: pointer;
}

#cart .cart_close a:before {
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

#cart .cart_close a:after {
	transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

#cart .cart_close a:hover {
	background: rgba(255, 255, 255, 0.2);
}

#cart h2 {
	margin: 0 0 100px;
	font-size: 4.5rem;
	line-height: 134px;
	font-weight: bold;
	color: #FFF;
	border-bottom: 6px solid #EFAA31;
}

#cart p {
	display: table;
	width: 100%;
	font-size: 0;
}

#cart p a {
	display: table-cell;
	width: 292px;
}

#cart p a:nth-child(2) {
	padding: 0 24px;
}

#cart p a img {
	display: block;
	width: 100%;
}

/* foot ed */

@media (min-width: 1021px) and (max-width: 1226px) {
	.wm {
		width: auto;
	}
	
	#head, .header {
		height: 78px;
	}
	
	.logo {
		width: 168px;
	}
	
	#nav {
		width: calc(100% - 168px - 144px - 4px);
		width: calc(100% - 168px - 3px);
	}
	
	.nav li {
		height: 77px;
	}
	
	.nav li a {
		font-size: 1.4rem;
		line-height: 78px;
	}
	
	.head_icon {
		width: 144px;
		padding: 23px 0;
	}
	
	#main {
		padding: 80px 0 0;
	}
	
	.foot_btn {
		right: 20px;
	}
	
	.foot {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.foot_nav {
		width: calc(50% - 106px);
	}
	
	.foot_logo {
		width: 192px;
	}
	
	.foot_info {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.foot_contact {
		width: calc(100% - 360px);
	}
	
	.foot_email {
		width: 360px;
	}
	
	#cart {
		padding: 60px 80px;
		width: calc(100% - 200px);
	}
	
	#cart h2 {
		margin: 0 0 60px;
	}
}

@media (min-width: 768px) and (max-width: 1020px) {
	.wm {
		width: auto;
	}
	
	.wn {
		width: auto;
	}
	
	#head, .header {
		height: 60px;
	}
	
	.logo {
		width: 130px;
	}
	
	#nav {
		width: calc(100% - 130px - 108px - 4px);
		width: calc(100% - 130px - 3px);
		border: 0 none;
	}
	
	.nav {
		display: table;
	}
	
	.nav li {
		float: none;
		display: table-cell;
		height: 59px;
	}
	
	.nav li a {
		font-size: 1.4rem;
		line-height: 59px;
	}
	
	.head_icon {
		width: 108px;
		height: 24px;
		padding: 18px 0;
	}
	
	.head_icon a {
		width: 24px;
		height: 24px;
	}
	
	#main {
		padding: 62px 0 0;
	}
	
	.foot {
		height: auto;
		padding: 10px;
	}

	.foot:after {
		display: block;
		content: "clear";
		width: 0;
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
	
	.foot .foot_nav:last-child {
		text-align: left;
	}
	
	.foot_btn {
		right: 20px;
		width: 80px;
	}
	
	.foot_btn a {
		margin: 20px 0 0;
	}
	
	.foot_nav {
		width: calc(50% - 106px);
		height: auto;
	}
	
	.foot_nav ul {
		display: block;
		width: auto;
		padding: 0 20px;
	}
	
	.foot_nav ul li {
		display: block;
		height: auto;
		line-height: 3;
	}
	
	.foot_logo {
		width: 192px;
		padding: 20px 0 0;
	}
	
	.foot_logo a {
		height: auto;
	}
	
	.foot_info {
		height: auto;
		padding: 40px 20px;
	}

	.foot_info:after {
		display: block;
		content: "clear";
		width: 0;
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
	
	.foot_email {
		width: 280px;
	}
	
	.foot_email a {
		height: 60px;
	}
	
	.foot_email a img {
		margin: 0 10px 0 0;
	}
	
	.foot_email a b {
		font-size: 1.8rem;
		line-height: 60px;
	}
	
	.foot_contact {
		width: calc(100% - 280px);
		height: 60px;
	}
	
	.foot_contact h2 {
		padding: 0 10px 0 0;
		font-size: 2.4rem;
	}
	
	.foot_contact p {
		font-size: 1.4rem;
	}
	
	.br span {
		display: inline;
	}
	
	.br br {
		display: block;
	}
	
	.cpct.br span {
		display: block;
	}
	
	.cpct.br br {
		display: none;
	}
	
	.content {
		padding: 60px 20px;
	}
	
	.sub_tit {
		font-size: 4.2rem;
	}
	
	.sub_tit small {
		font-size: 2.8rem;
	}
	
	#cart {
		padding: 40px 60px;
		width: calc(100% - 160px);
	}
	
	#cart h2 {
		margin: 0 0 40px;
		font-size: 4rem;
		line-height: 80px;
	}
}

@media (max-width: 767px) {
	.wm {
		width: auto;
	}
	
	.wn {
		width: auto;
	}
	
	#head, .header {
		width: 100%;
		height: 48px;
	}
	
	.header {
		position: relative;
	}
	
	.logo {
		float: none;
		display: block;
		width: 104px;
		height: 48px;
		margin: 0 auto;
		border: 0 none;
	}
	
	.logo a {
		background: none !important;
	}
	
	.logo a img:first-child, .logo .on img:first-child {
		display: none;
	}
	
	.logo a img:last-child, .logo .on img:last-child {
		display: block;
	}
	
	#nav {
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		height: 48px;
		border: 0 none;
	}
	
	.nav {
		display: none;
	}
	
	.nbtn {
		position: relative;
		float: right;
		display: inline-block;
		width: 48px;
		height: 100%;
		cursor: pointer;
	}
	
	.nbtn_icon {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 28px;
		height: 4px;
		margin: -2px 0 0 -14px;
		background: #FFF;
		transition: .2s;
	}
	
	.nbtn_icon:before,
	.nbtn_icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 28px;
		height: 4px;
		background: #FFF;
		transition: .3s;
	}
	
	.nbtn_icon:before {
		margin-top: -12px;
	}
	
	.nbtn_icon:after {
		margin-top: 8px;
	}
	
	.nbtn .close {
		background: transparent;
	}
	
	.nbtn .close:before,
	.nbtn .close:after {
		margin-top: 0;
	}
	
	.nbtn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	
	.nbtn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	#panel {
		position: fixed;
		display: none;
		z-index: 999;
		left: 0;
		top: 50px;
		width: 100%;
		height: calc(100% - 48px);
		background: #9AD48B;
		overflow: auto;
	}
	
	#panel ul li {
		display: block;
		border-bottom: 1px solid #FFF;
	}
	
	#panel ul li a {
		display: block;
		padding: 15px 20px;
		font-size: 1.6rem;
		text-decoration: none;
		color: #FFF;
	}
	
	.ncart {
		position: relative;
		float: right;
		display: inline-block;
		width: 48px;
		height: 100%;
	}
	
	.ncart a, .ncart a img {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.head_icon {
		display: none;
	}
	
	#main {
		padding: 50px 0 0;
	}
	
	#foot {
		/*border-top: 0 none;*/
	}
	
	.foot {
		height: auto;
		padding: 140px 20px 40px;
	}

	.foot:after {
		display: block;
		content: "clear";
		width: 0;
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
	
	.foot_btn {
		/*display: table;
		right: 0;
		width: 100%;*/
		right: 10px;
		width: 42px;
	}
	
	.foot_btn a {
		margin: 20px 0 0;
	}
	
	.foot_btn .cart {
		display: none;
	}
	
	/*.foot_btn a {
		display: table-cell;
		width: 50%;
	}
	
	.foot_btn a:first-child {
		background: #EFAA31;
	}
	
	.foot_btn a:last-child {
		background: #94D48E;
	}*/
	
	.cart {
		display: none;
	}
	
	.foot_nav {
		width: 100%;
		height: auto;
	}
	
	.foot_nav ul {
		display: block;
		width: auto;
		padding: 0 0 0 12%;
	}
	
	.foot_nav ul li {
		display: block;
		height: auto;
		line-height: 1.8;
	}
	
	.foot_nav ul li a {
		font-size: 1.6rem;
	}
	
	.foot_nav ul li i {
		margin-right: 10px;
	}
	
	.foot .foot_nav:last-child {
		text-align: left;
	}
	
	.foot_logo {
		position: absolute;
		top: 0;
		left: 0;
		float: none;
		width: 100%;
		height: auto;
		padding: 20px 0;
		margin: 0;
		text-align: center;
	}
	
	.foot_logo a {
		display: inline-block;
		width: auto;
		height: auto;
	}
	
	.foot_logo a img {
		width: auto;
		max-width: 100%;
		height: auto;
	}
	
	.foot_info {
		height: auto;
		padding: 20px;
	}

	.foot_info:after {
		display: block;
		content: "clear";
		width: 0;
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
	
	.foot_email {
		width: 100%;
	}
	
	.foot_email a {
		height: 60px;
	}
	
	.foot_email a img {
		margin: 0 10px 0 0;
	}
	
	.foot_email a b {
		font-size: 1.8rem;
		line-height: 60px;
	}
	
	.foot_contact {
		width: 100%;
		height: auto;
		padding: 0 0 20px;
	}
	
	.foot_contact h2 {
		display: none;
	}
	
	.foot_contact p {
		display: block;
		font-size: 1.6rem;
	}

	.img_replace img:first-child {
		display: none;
	}
	
	.img_replace img:last-child {
		display: block;
	}

	.br span {
		display: inline;
	}
	
	.br br {
		display: block;
	}
	
	.content {
		padding: 30px 20px 60px;
	}
	
	.sub_tit {
		font-size: 2.7rem;
	}
	
	.sub_tit small {
		font-size: 1.8rem;
	}
	
	#cart {
		padding: 40px;
		width: calc(100% - 100px);
	}
	
	#cart .cart_close {
		width: 40px;
		height: 40px;
	}
	
	#cart .cart_close a:before, #cart .cart_close a:after {
		width: 28px;
		height: 3px;
		margin: 0 0 0 -14px;
	}
	
	#cart h2 {
		margin: 0 0 20px;
		font-size: 2rem;
		line-height: 2;
	}
	
	#cart p {
		display: block;
	}
	
	#cart p a {
		display: block;
		width: 100%;
		margin: 0 0 10px;
	}
	
	#cart p a:nth-child(2) {
		padding: 0;
	}
}