@charset "utf-8";
.privacy_tit {
	padding: 0 0 60px;
	text-align: center;
	color: #1E1E1E;
}

.privacy_main {
	padding: 0 20px;
	color: #1E1E1E;
}

.privacy_tit h1 {
	margin: 0.5em 0;
	font-size: 4.5rem;
}

.privacy_tit h2 {
	margin: 0;
	font-size: 3rem;
}

.privacy_main h3 {
	padding: 1rem 0 0;
	margin: 0 0 1rem;
	font-size: 2.4rem;
}

.privacy_main h4 {
	padding: 1rem 0 0;
	margin: 0 0 1rem;
	font-size: 2rem;
}

.privacy_main p {
	padding: 0 0 2rem;
	font-size: 2rem;
	line-height: 1.5;
	text-align: justify;
}

.privacy_main ul {
	padding: 0 0 20px 20px;
	font-size: 2rem;
	line-height: 1.5;
	text-align: justify;
}

.privacy_main ul li {
	list-style: disc;
}

@media (min-width: 768px) and (max-width: 1020px) {
	
}

@media (max-width: 767px) {
	.privacy_tit {
		padding: 0 0 30px;
	}
	
	.privacy_tit h1 {
		font-size: 2.8rem;
	}
	
	.privacy_tit h2 {
		font-size: 2.4rem;
	}
	
	.privacy_main {
		padding: 0;
	}
	
	.privacy_main h3 {
		font-size: 2rem;
	}
	
	.privacy_main h4 {
		font-size: 1.8rem;
	}
	
	.privacy_main p {
		font-size: 1.6rem;
	}
	
	.privacy_main ul {
		font-size: 1.6rem;
	}
}